body {
	margin: 0px;
	padding: 0;
	margin-top: 5%;
	margin-left: 5%;
	padding-left: 1%;
	width: 90%;
	color: black;
	background-color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
	font-style: italic;
	font-weight: lighter;
	font-size: 120%;
}
.name p{
	font-size: 140%;
	font-style: normal;
	/*text-align: center;*/
	margin-left: 30%;
	margin-bottom: 7%;	
}
.Hi_container  {
 	float: left;
	width: 80%
	
}
.Hi_container p {
 	margin-left: 5%;
}
.Hi_container h3 {
 	margin-left: 5%;
}
.IMG_container {

}
header h3 {
	font-size: 120%;
	font-weight: lighter;
	margin-bottom: 1%;
}
header p{
	margin: 0 0 0 0;
}
section {
	margin-top: 2%;
}
section p {
	margin-top: 1%;
	margin-bottom: 1.5%;
}
footer {
	margin-top: 5%;
	margin-bottom: 2%;
}
footer p {
	display: block;
	width: 30%;
	margin-bottom: 0;
	margin-top: 0;
	float: left;
}
footer div {
	float: left;
	margin-left: 30%;
}
a {
	text-decoration: none;
}
