body {
	margin: 5% 0 0 5%;
	padding: 0 0 0 1%;
	width: 90%;
	color: black;
	background-color: #ffffff;
	font: lighter italic 120% 'Ubuntu', sans-serif;
	}
.name p{
	font: normal 140% 'Ubuntu', sans-serif;
	margin: 0 0 7% 30%;
	/*margin-left: 30%;
	margin-bottom: 7%;	*/
	}
.Hi_container  {
 	float: left;
	width: 80%
	
	}
.Hi_container p {
 	margin-left: 5%;
}
.Hi_container h3 {
 	margin-left: 5%;
}
.IMG_container {

}
header h3 {
	font: lighter 120% 'Ubuntu', sans-serif;
	/*font-size: 120%;
	font-weight: lighter;*/
	margin-bottom: 1%;
}
header p{
	margin: 0 0 0 0;
}
section {
	margin-top: 2%;
}
section p {
	margin: 1% 0 1.5% 0;
	/*margin-top: 1%;
	margin-bottom: 1.5%;*/
}
footer {
	margin: 5% 0 2% 0;
	/*
	margin-top: 5%;
	margin-bottom: 2%;*/
}
footer p {
	display: block;
	width: 30%;
	margin: 0 0 0 0;/*
	margin-bottom: 0;
	margin-top: 0;*/
	float: left;
}
footer div {
	float: left;
	margin-left: 30%;
}
a {
	text-decoration: none;
}
